{% extends "django_moment/base.html" %}

{% block "content" %}
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">django_moment
                    <small>{{ counter }}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3>
                    Hourly
                </h3>
                <div id="hourly" class="graph">
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3>
                    Daily
                </h3>
                <div id="daily" class="graph">
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3>
                    Weekly
                </h3>
                <div id="weekly" class="graph">
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3>
                    Monthly
                </h3>
                <div id="monthly" class="graph">
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3>
                    Yearly
                </h3>
                <div id="yearly" class="graph">
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->


    <script>

    $(function () {

        var url = '{% url 'django_moment.views.counter_period_json' counter_name=counter %}';
        d3.json(url, function (data) {
            setup_graph('#hourly', data['hour']);
            setup_graph('#daily', data['day']);
            setup_graph('#weekly', data['week']);
            setup_graph('#monthly', data['month']);
            setup_graph('#yearly', data['year']);

            var update = function () {
                d3.json(url, function (data) {
                    update_graph('#hourly', data['hour']);
                    update_graph('#daily', data['day']);
                    update_graph('#weekly', data['week']);
                    update_graph('#monthly', data['month']);
                    update_graph('#yearly', data['year']);
                });
                setTimeout(update, 4000);
            }
            update();
        });

    });

</script>
{% endblock %}
